[submodule "content"]
	path = content
	url = https://github.com/minlu21/for-profile.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
