@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

html {
    padding: 0px;
	background-color: #d9e0f7;
	text-align: center;
	/* min-width: 350px; */
	font-family: 'Varela Round', sans-serif;
}

.container {
	/* padding: 0px; */
	width: 100%;
    min-height: 500px;
	/* max-width: 800px; */
    min-width: 220px;
    background-image: url("https://wallpaperaccess.com/full/1579893.jpg");
    background-size: cover;
	/* margin: auto; */
	text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
	font-size: 2em;
    color: white;
	font-weight: lighter;
	/* padding: 0px; */
	/* margin: 0px 10px; */
}

#pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	/* margin: 0 auto; */
	/* position: relative; */
	/* padding: 0px 10px; */
}

#pomodoro > * + * {
    margin-top: 30px;
  }
  

#status {
	width: 70%;
	color: lightsteelblue;
	font-size: 1.5em;
	/* position: absolute; */
	/* top: 45%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
}

.timerDisplay {
	color: lightcyan;
	font-size: 4em;
	font-weight: bold;
	/* position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%); */
}

.btn {
	/* margin: 10px;
	padding: 8px 10px; */
	color: white;
	font-size: 1em;
	cursor: pointer;
	border: 1px dashed lightblue;
}

#btns {
    display: inline-block;
}

#start-btn, #reset {
	/* height: 40px;
	width: 90px; */
    color: black;
	border-radius: 5px;
    padding: 7px 7px;
	/* position: absolute; */
	/* bottom: 8%;
	left: 48%;
	transform: translate(-50%, -50%); */
	background: lightsteelblue;
}

#start-btn {
    margin-right: 10px;
}

.btn-settings {
	background-color: #e0ffff;
	/* margin: 10px; */
	border: 1px solid #4e4e5b;
	border-radius: 100%;
    /* align-items: center; */
    height: 30px;
    line-height: 0px;
    width: 30px;
	/* padding: 2px 5px; */
	/* min-width: 40px; */
	color: gray;
	font-size: 1em;
	cursor: pointer;
}

.settings {
	margin: 10px auto;
	/* width: 80%; */
    /* display: flex; */
    flex-direction: column;
	display: grid;
	grid-template-columns: 2fr 2fr;
    column-gap: 2rem;
    /* justify-content: center;
	align-items: center; */
}

/* #reset {
	border-radius: 7px;
	/* width: 80px;
	height: 80px; */
    /* height: 40%;
	background: #074082; */
	/* transform: translate(0%, 50%); */
/* } */

#work,
#break {
	color: lightcyan;
	font-weight: 400;
}

#work p,
#break p {
	color: lightcyan;
    font-weight: 600;
	/* background: #efc4c4; */
	padding: 5px;
}

@media only screen and (max-width: 400px) {
	.timerDisplay {
		font-size: 2.5em;
	}
}
