.proj-list-section {
    padding: 1% 0;
    margin: 0;
}

.proj-list-section>h2>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.proj-list-section>h2>a:hover {
    color: green;
}

.proj-desc {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

.proj-desc>p {
    width: 75%;
}

.proj-desc>img {
    width: 25%;
    text-align: right;
}