.single-container>h2 {
    color: green;
    padding-top: 1%;
    /* padding-bottom: 0.5px; */
    border-bottom: 1px solid green;
}

.single-container>h3,
.single-container>h4,
.single-container>h5,
.single-container>h6 {
    color: lightslategray;
    padding-top: 1%;
}

.single-container>h4,
.single-container>h5,
.single-container>h6 {
    font-weight: 500;
}

.single-container>p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.tags>div {
    margin-top: 2.5%;
    display: flex;
    flex-direction: horizontal;
}

.tags>div>div {
    font-weight: bold;
}

.tags>div>ul {
    margin-left: 1%;
    padding: 0;
    width: 100%;
}

.tags>div>ul>li {
    display: inline-block;
    padding: 0 0.5%;
}

.tags>div>ul>li>a {
    background-color: rgb(203, 210, 216);
    text-decoration: none;
    color: black;
    border-radius: 15em;
    padding: 2.5px 5px;
}

.tags>div>ul>li>a:hover {
    color: green;
    background-color: rgb(233, 232, 232);
}

#TableOfContents {
    margin-left: 20px;
    margin-bottom: 2.5%;
}

.toc {
    color: gray;
    margin-top: 1%;
    font-weight: lighter;
}

#TableOfContents>ul>li,
#TableOfContents>ul>li>ul>li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#TableOfContents>ul {
    margin: 0;
    padding: 0;
}

#TableOfContents>ul>li>ul {
    padding: 0 5px;
    margin-left: 5px;
    border-left: 1px solid gray;
}

#TableOfContents>ul>li>a,
#TableOfContents>ul>li>ul>li>a {
    text-decoration: none;
}

#TableOfContents>ul>li>a {
    color: black;
    font-size: 16px;
}

#TableOfContents>ul>li>ul>li>a {
    color: gray;
    font-size: 14px;
}

#TableOfContents>ul>li>a:hover,
#TableOfContents>ul>li>ul>li>a:hover {
    color: green;
}

.highlight {
    width: inherit;
    margin: 2.5% 0;
    padding: 0;
}

.highlight>pre {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
}

.highlight>pre>code>span>span {
    width: inherit;
    text-wrap: wrap;
}

code:not(.highlight > pre > code) {
    color: green;
    font-weight: bold;
    background-color: rgb(228, 232, 235);
    border-radius: 15px;
    padding: 0 2.5px;
}